photon {
    network {
        login {
            port = 5554
            password-digest = MD5
            password = lel
        }
        realm {
            port = 5556
            charset = UTF-8
        }
    }

    database {
        url = "jdbc:postgresql://localhost/photon?user=postgres"
        driver = org.postgresql.Driver
    }
}
