*~
.gradle
build/
out/
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/performanceTest/build
/subprojects/*/ide
*.iml
*.ipr
*.iws
/buildSrc/out
#/gradle
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
login/src/application.conf
login/src/application.json
login/src/application.properties
login/src/logback.groovy
login/src/logback.xml
