photon {
    network {
        login {
            port = 5554
            password-digest = MD5
            password = lel

            identity {
                id = ${photon.network.realm.id}
                completion = ${photon.network.realm.completion}
                address = "127.0.0.1"
                port = ${photon.network.realm.port}
            }
        }
        realm {
            id = 1
            completion = 0
            port = 5556
            charset = UTF-8
        }
    }

    database {
        url = "jdbc:postgresql://localhost/photon?user=postgres"
        driver = org.postgresql.Driver
    }

    realm {
        community = 0
        secret-answer-since-level = 20
        max-players-per-user = 5
        motd = "Welcome to Photon `master' version"
        start-map = 7411
        start-cell = 355
    }

    static-data {
        base-path = "."
        maps = "/"
    }
}
