photon {
    network {
        login {
            port = 5555
            charset = UTF-8
        }
        realm {
            port = 5554
            salt-len = 64
            password-digest = MD5
            password = lel
        }
    }

    database {
        url = "jdbc:postgresql://localhost/photon?user=postgres"
        driver = org.postgresql.Driver

        users {
            password-digest = SHA-512
            password-encoding = UTF-8
        }
    }
}
