photon {
    network {
        login {
            port = 5555
            charset = UTF-8
            max-frame-length = 1024
        }
        realm {
            port = 5554
        }
    }

    database {
        url = "jdbc:postgresql://localhost/photon?user=postgres"
        driver = org.postgresql.Driver
    }
}
